
body {
    padding:0px;
    margin: 0px;
    background-color: #fff;
    color: #000;
    font-weight: 300; 
    font-size: 13pt;
}


/* text styling */
.navbar-text,
strong {
  font-weight: 600;         
}

.warm {
  color: steelblue;
  text-align: justify;
}

.cool {
  color: #ccccff;
}

h1 {
  margin-top: 0px;
}


/* these are all the same for now, but easy to modify individually */
#container-not-an-ad, #container-error, #container-exp, #container-consent, #container-instructions, #container-questionnaire {
    background: white;
    margin: 30px;
}

/* ad.html  - the ad that people view first */
#adlogo {
    width: 140px;
    padding: 2px;
    border: 1px solid #ccc;
    margin-right: 1em;
}

/* consent.html - the consent form */
#consent {
  margin: 0 auto;
  margin-top: 0;
  width: 800px;
  font-size: 100%;
}

.legal {
  text-align: justify;
  font-size: 11pt;
  line-height: 1.1em;
}

#trial {
  margin: 0 auto;
  width: 800px;
  text-align: center;
}

#query {
  color: darkgray;
}

.question {
  margin-bottom: 30px;
}

/* errors */
#error img {
  padding-right: 10px;
  padding-top: 15px;
}


.form-radio {
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f1f1f1;
     color: #006a4e;
     top: 10px;
     height: 20px;
     width: 20px;
     border: 0;
     border-radius: 0px;
     cursor: pointer;     
     margin-right: 7px;
     outline: none;
}
.form-radio:checked::before {
     position: absolute;
     font: 35px/1 'Open Sans', sans-serif;
     left: 6px;
     top: -12px;
     content: '\02143';
     transform: rotate(40deg);
}
.form-radio:hover {
     background-color: #f7f7f7;
}
.form-radio:checked {
     background-color: #f1f1f1;
}
/* remove focus outline */
input[type=file]:focus, input[type=radio]:focus, input[type=checkbox]:focus {
    outline: none;
}
.survey-error::before {
  content: "\002A ";
  position: absolute;
  left: -15px;
}
.survey-error-after::after {
  content: " \002A";
}
.survey-error-after,
.survey-error {
  position: relative;
  color: #dc3545;
}
.survey-error-text {
  color: #dc3545;
}


.jspsych-survey-highlight {
  cursor: pointer;
}

#jspsych-html-keyboard-response-stimulus {
  max-width: 550px;
}