<!DOCTYPE html>
<!-- 
  The consent.html displays the text of your IRB-approved
  consent form.  Even if you are not required to provide
  a consent form, it is helpful to use this form to 
  describe what people can do if an error comes up, etc...

-->
<html>
    <head>
        <meta charset="utf-8" />
        <title>Psychology Experiment - Informed Consent Agreement</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
        <link rel="icon" href="/static/favicon.ico" />
        <script src="/static/lib/jquery-min.js" type="text/javascript"></script>
        <script src="/static/js/jspsych/parameters.js" type="text/javascript"></script>
        <script src="/static/lib/underscore-min.js" type="text/javascript"></script>
        <script src="/static/lib/backbone-min.js" type="text/javascript"></script>
        <script src="/static/js/jspsych/jspsych.js" type="text/javascript"></script>
		<script src="/static/js/jspsych/plugins/jspsych-html-keyboard-response.js" type="text/javascript"></script>
        <script type="text/javascript">
            function onexit() {
              self.close(); // no harm, no foul here
            }
        </script>
		<style>
            #container-consent {
                display: flex;
                align-items: center;
                flex-direction: column;
            }
            #consent-text {
                margin-top: 0;
                width: 800px;
                font-size: 100%;
            }

			#google-captcha {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 90vh;
			}
			@media print {
				body * {
					visibility: hidden;
				}
				.legal, .legal * {
					visibility: visible;
				}
				.legal {
					position: absolute;
					left: 0;
					top: 0;
					overflow:visible;
				} 
			}
		</style>
    </head>
    <body>
        <div id="container-consent">
            <div id="google-captcha">
                <div id="captcha"></div>
            </div>
            <div id="consent" class="hidden">
                <h1>We need your consent to proceed</h1>
                <hr />
                <div class="legal well">
                        <h4>
				Participant Selection and Purpose of Study 
			</h4>
			<p>
				You are invited to participate in a study of examining reward  processing and decision-making in typical healthy adults.  We hope to learn how people learn about reward, and how this can influence their future behaviour. You were selected as a possible participant in this study because you are a user of Mechanical Turk. 
 			</p>
			<h4>
				Description of Study and Risks 
			</h4>
			<p>
				If you decide to participate, you may be asked to complete several questionnaires and computer-based tasks that examine how you process and react to decision-making situations. The computer tasks ask you to make keyboard responses. This should take no longer than 60 minutes. 
			</p>
			<p>
				No risks are reasonably expected as a result of your participation in this study. 
			</p>
			<p>
				We cannot and do not guarantee or promise that you will receive any benefits from this study. 
			</p>
			<h4>
				Confidentiality and Disclosure of Information 
			</h4>
			<p>
				Any information that is obtained in connection with this study and that can be identified with you will remain confidential and will be disclosed only with your permission or except as required by law.  If you give us your permission by signing this document, we plan to discuss/publish the results in student theses, journal publications or scientific meetings. In any publication, information will be provided in such a way that you cannot be identified. 
			</p>
			<h4>
				Recompense to participants
			</h4> 
			<p>
				You will be reimbursed through Amazon Mechanical Turk for your time and participation in this study. You will receive the amount advertised in the HIT via Amazon Mechanical Turk within 14 days of completing the HIT. 
			</p>
			<h4>
				Your consent 
			</h4>
			<p>
				Your decision whether or not to participate will not prejudice your future relations with The University of New South Wales. Submitting your completed questionnaire and/or completing this anonymous online task is an indication of your consent to participate in the study. You can withdraw your responses any time before you have submitted the questionnaire/finished the task. Once you have submitted it, your responses cannot be withdrawn because they are anonymous and therefore we will not be able to tell which one is yours. 
			</p>
			<h4>
				Inquiries
			</h4>
			<p> 
				If you have any questions or concerns following your participation the UNSW Computational Psychiatry Team (human.behaviour@unsw.edu.au, +61 2 9385 1824) will be happy to address them. Complaints may be directed to UNSW’s Research Ethics & Compliance Support, telephone +61 2 9385-4235 or +61 2 9385-4958, email humanethics@unsw.edu.au 
                        </p>
			<p>
				Please save a copy of this Participant Information Sheet and the Participant Consent Agreement. 
			</p>

                    <button type="button" class="btn btn-default btn-sm" onClick="window.print();">
                    <span class="glyphicon glyphicon-print"></span> Print a copy of this
                    </button>
                </div>

                <hr />
                <h4>Do you understand and consent to these terms?</h4>
                <br />

                <center>
                    <button type="button" class="btn btn-primary btn-lg" onClick="window.location='/exp?hitId={{ hitid }}&assignmentId={{ assignmentid }}&workerId={{ workerid }}'">
                    <span class="glyphicon glyphicon-ok"></span> I agree 
                    </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-danger btn-lg" onClick="onexit()">
                    <span class="glyphicon glyphicon-ban-circle"></span> No thanks, I do not want to do this HIT
                    </button>
                </center>

            </div>


            {% if using_sandbox %}
                <form style="width: auto;" id="mturk_form" action="https://workersandbox.mturk.com/mturk/externalSubmit" method="post">
            {% else %}
                <form style="width: auto;" id="mturk_form" action="https://workersandbox.mturk.com/mturk/externalSubmit" method="post">
            {% endif %}
                <input type="hidden" id="assignmentId" name="assignmentId" value="{{ assignmentid }}"> 
                <input type="hidden" id="hitId" name="hitId" value="{{ hitid }}"> 
                <input type="hidden" id="workerId" name="workerId" value="{{ workerid }}"> 
            </form>

        </div>

		<script src="/static/js/psiturk.js" type="text/javascript"></script>
      
        <script type="text/javascript">
			if(re_captcha) {
				var count_down;
				re_captcha_duration =  re_captcha_duration * 1000;
				var verifyCallback = function() {
					return new Promise(function(resolve, reject) {
                        $('#google-captcha').addClass('hidden');
				        $('#consent').removeClass('hidden');
						// response.setHeader("Set-Cookie", "HttpOnly;Secure;SameSite=Strict");
						clearTimeout(count_down);
						resolve();
					}); // end promise
				};
				var recaptchaError = function(error) {
					// console.log(error);
				}
				var onloadCallback = function() {
					grecaptcha.render('captcha', {
					'sitekey' : '6LeVEP4UAAAAAPpj_lo0njFLHkNUdS22vZvzqTkD',
					'callback' : verifyCallback,
					'error-callback': recaptchaError,
					'theme' : 'light'
					});
				};

				count_down = setTimeout(function() {
                    var uniqueId = "{{ uniqueId }}";  // a unique string identifying the worker/task
                    var condition = "{{ condition }}"; // the condition number
                    var counterbalance = "{{ counterbalance }}"; // a number indexing counterbalancing conditions
                    var adServerLoc = "{{ adServerLoc }}"; // the location of your ad (so you can send user back at end of experiment)
                    var mode = "{{ mode }}";
            
                    var psiTurk = new PsiTurk(uniqueId, adServerLoc, mode);
                    
					// $(window).on('beforeunload', function(){
					// 	return 'Your submission is in progress. Please do not close this window.';
					// });
					// $.ajax({
					// 	dataType: "json",
					// 	type: "GET",
					// 	url: "/worker_submitted?uniqueId={{ workerid }}:{{ assignmentid }}",
					// 	success: function (data) {
					// 		$(window).off('beforeunload');
					// 		$( "#mturk_form" ).submit();
					// 	}
                    // });

                    jsPsych.init({
                            timeline: [{
                                stage_name: 'Thanks',
                                type: 'html-keyboard-response',
                                stimulus: close_instruct_text_thanks,
                                trial_latency: close_instruct_latency,
                                trial_duration: null,
                                response_ends_trial: false,
                                event_type: 'text appears',
                                event_raw_details: 'close_instruct_text_thanks',
                                event_converted_details: "'Thank You!' text appears"
                            }],
                            on_finish: function(){
                                psiTurk.saveData({
                                    success: function() { 
                                        psiTurk.completeHIT();
                                    },
                                    error: console.log('error')
                                });
                            }
                        }
                    );
                    
				}, re_captcha_duration);
			} else {
				$('#google-captcha').addClass('hidden');
				$('#consent').removeClass('hidden');
			}
        </script>
        <script>
            if (re_captcha) {

                // Create a script tag
                var script = document.createElement('script');

                // Assign a URL to the script element
                script.src = 'https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit';

                script.async = true;
                script.defer = true;

                // Get the first script tag on the page (we'll insert our new one before it)
                var ref = document.querySelector('script');

                // Insert the new node before the reference node
                ref.parentNode.insertBefore(script, ref);
            }
        </script>
    </body>
</html>

